
.contacttop{
    padding: 80px 60px 40px 60px;
    color: antiquewhite;
    text-align: center;
}
.contacttop h3{
    font-size: 25px;
    font-weight: 700;
    color: #FFFF00;
}
.contacttop p{
    font-weight: 700;
    font-size: 14px;
}
.formcontact{
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
form{
    padding: 30px;
    border-radius: 3px;
    box-shadow: 1px 1px 5px 1px rgba(217, 255, 0, 0.18);
    width: 310px;
    height: auto;
}
form input{
    padding: 5px;
    margin-bottom: 10px;
    width: 100%;
    font-size: 13px;
    height: 40px;
    color: cadetblue;
    background: transparent;
    outline: none;
    border: 1px solid rgba(128, 128, 128, 0.445);
    border-radius: 5px;
}
form .msg textarea{
    padding: 5px;
    margin-bottom: 10px;
    width: 100%;
    font-size: 13px;
    height: 100px;
    color: cadetblue;
    background: transparent;
    outline: none;
    border: 1px solid rgba(128, 128, 128, 0.445);
    border-radius: 5px;
}
form input:hover{
    border: 1px solid rgb(255, 255, 0.77);
}
form textarea:hover{
    border: 1px solid rgb(255, 255, 0.77);

}
form  .btn{
    text-align: center;
    padding: 5px;
    margin-bottom: 5px;
    width: 100%;
    height: 30px;
    color: cadetblue;
    background: rgba(255, 255, 0, 0.906);
    outline: none;
    border: 1px solid rgba(128, 128, 128, 0.445);
    border-radius: 5px;
    cursor: pointer;
}
form button{
    background: transparent;
    border: none;
    font-size: 16px;
    font-weight: 600;
}
@media screen and (min-width: 380px) and (max-width:700px){
    form{
        padding: 30px;
        border-radius: 3px;
        box-shadow: 1px 1px 5px 1px rgba(217, 255, 0, 0.18);
        width: 310px;
        height: auto;
    }
    .formcontact{
        padding: 40px;
}
}
