
.footercontent{
    padding: 30px 30px 10px 30px ;
    text-align: center;
    color: white;

}
.footercontent .footer-heading{
    font-size: 18px;
    text-transform: uppercase;
    color: #E7E700;
}
.footer-content{
    display: flex;
    justify-content: center;
    margin: 20px;
}
.footer-content h3{
    font-size: 15px;
    padding: 5px;
    margin: 10px;  
}
.footer-content h3:hover{
    background: #FFFF00;
    color: black;
    border-radius: 3px;
}
.footer-icons{
    display: flex;
    justify-content: center;
    align-items: center;
}
.icons .whatsapp i{
    color: aliceblue;
}
.icons i{
    font-size: 20px;
    color: aliceblue;
    padding: 30px;
}
.icons a:hover{
    color: #E7E700;

}
.footer-copyrights p{
    letter-spacing: 2px;
    margin-top: 10px;
    border-top: 1px solid blanchedalmond;
    padding: 5px;

}
